.teammate {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: 'Mont-Regular';
  color: #000000;
  align-items: center;
}

.teammate__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.teammate__title {
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Mont-SemiBold';
  letter-spacing: 0.8px;
}

.teammate__subTitle {
  margin: 6px 0 0;
  font-size: 14px;
  font-family: 'Mont-SemiBold';
  letter-spacing: 0.8px;
}

.teammate__subTitle_invisible {
  display: none;
}

.teammate__about {
  margin: 6px 5px 0 5px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.8px;
  font-family: 'Mont-Light';
}

@media (width <= 1279px) {
  .teammate__image {
    width: 180px;
    height: 180px;
  }
  .teammate__title {
    font-size: 17px;
  }
  .teammate__about {
    font-size: 12px;
  }
}

@media (width <= 1024px) {
  .teammate__image {
    width: 160px;
    height: 160px;
  }
  .teammate__title {
    font-size: 16px;
  }
  .teammate__subTitle {
    font-size: 13px;    
  }
}

@media (width <= 899px) {
  .teammate__title {
    font-size: 15px;
  }
}

@media (width <= 599px) {
  .teammate__title {
    font-size: 17px;
    margin-top: 8px;
  }
  .teammate__subTitle {
    font-size: 13px;
    text-align: center; 
    margin-top: 4px;
  }
  .teammate__image {
    width: 120px;
    height: 120px;
  }
  .teammate__about {
    font-size: 13px;
  }
}

@media (width <= 359px) {
  .teammate__title {
    font-size: 15px;
  }
  .teammate__subTitle {
    font-size: 12px;
  }
  .teammate__image {
    width: 110px;
    height: 110px;
  }
  .teammate__about {
    font-size: 11px;
  }
}
