.cont {
  width: 100%;
}

.cont_type_coffeshop {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 3;
}

.carousel {
  overflow: hidden;
  color: #FFFFFF;
  position: relative;
  height: 100vh;
  width: 100%;
}

.box {
  position: relative;
}

.carousel__item {
  display: inline-flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.carousel__image {
  object-fit: cover;
  z-index: -1;
  width: 100%;
}

.carousel__inner {
  white-space: nowrap;
  /* transition: transform 1s ease;  */
  position: relative;
  height: 100%;
}

.carousel__inner_type_transition {
  transition: transform 1s ease;
}

.carousel__inner_type_coffeshop {
  background-color: rgb(0 0 0 / 0.9 );
}

.carousel__button {
  position: absolute;
  bottom: 85px;
  right: 100px;
  height: 50px;
  width: 120px;
  font-style: normal;
  background-color: #1D96F1;
  color: #000000;
  border: none;
  border-radius: 5px;
  transition: opacity 0.4s linear;
  cursor: pointer;
  display: inline-block;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: 'Mont-Regular';
}

.carousel__button_type_coffeshop {
  display: none;
}

.carousel__button:hover {
  opacity: 0.9;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 0.315);
}

.carousel__closeButton_hidden {
  display: none;
  visibility: hidden;
}

.carousel__counter_hidden {
  display: none;
  visibility: hidden;
}

.carousel__photo {
  height: 100%;
  display: flex;
}

.carousel__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.29;
  width: 450px;
  white-space: normal;
  margin: 0 0 5px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-family: 'Montserrat-Medium';
}

.carousel__textContainer {
  position: absolute;
  top: 110px;
  left: 100px;
}

.carousel__textContainer_type_second {
  /* top: 590px; */
  bottom: 120px;
  top: auto;
}

.carousel__textContainer_type_third {
  top: 120px;
  left: 290px;
}

.carousel__wrapButton {
  z-index: 4;
  position: absolute;
  top: calc(50% - 35px);
  height: 70px;
  width: 70px;
  border: none;
  background: transparent;
  /* opacity: 0; */
  transition: opacity ease 1.5s;
  cursor: pointer;
}


/* .carousel:hover .carousel__wrapButton {
  opacity: 1;
}
*/

.carousel__wrapButton_type_next {
  right: 0px;
  background-image: url(../public/arrow_right.svg);
}

.carousel__wrapButton_type_prev {
  left: 0px;
  background-image: url(../public/arrow_left.svg);
}

.carousel__wrapButton_hidden {
  visibility: hidden;
}

.carousel__wrapButton_type_CoffeshopNext {
  right: calc(50% - 60px);
  filter: invert(100%);
  bottom: 10px;
  top: auto;
}

.carousel__wrapButton_type_CoffeshopPrev {
  left: calc(50% - 60px);
  filter: invert(100%);
  bottom: 10px;
  top: auto;
}

@media (width <= 1279px) {
  .carousel__text {
    font-size: 16px;
    width: 350px;
  }
  .carousel__textContainer {
    left: 70px; 
  }
  .carousel__textContainer_type_third {
    left: 170px;
  }  
  .carousel__wrapButton {
    height: 65px;
    width: 65px;
  }
  .carousel_button {
    bottom: 75px;
    right: 90px;
  }
}

@media (width <= 1024px) {
  .carousel__text {
    font-size: 14px;
  }
  .carousel {
    height: 55vh;
  }
  .carousel__textContainer {
    top: 90px; 
  }
  .carousel__textContainer_type_second {
    bottom: 80px;
    top: auto;
  }
  .carousel__wrapButton {
    height: 55px;
    width: 55px;
  }
  .carousel_button {
    bottom: 65px;
    right: 80px;
  }
}

@media (width <= 899px) {
  .carousel__text {
    font-size: 13px;
  }
}

@media (width <= 767px) {
  .carousel__counter {
    position: absolute;
    top: 27px;
    left: calc(50% - 30px);
    font-size: 18px;
    margin: 0;
    width: 60px;
    text-align: center;
  }
  .carousel__closeButton {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background-image: url(../public/closeIcon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 2;
  }
  .carousel__item_type_coffeshop {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.9 );
    /* background-color: rgb(0 0 0 ); */
    transition: opacity 1s ease;
  }
  .carousel__image_type_coffeshop {
    width: auto !important;
    height: auto !important;
    max-width: 90vw !important;
    max-height: 80vh !important;
    z-index: 0;
    margin: auto;
  }
  .carousel__inner_type_transition {
    transition: transform 0.6s ease;
  }
  .carousel__textContainer {
    top: 30%; 
    left: 25px;
  }
  .carousel__text {
    font-size: 15px;
  }
  .carousel {
    height: 100%;
    /* height: 100dvh; */
    /* height: calc(100vh - var(--vh-offset)); */
  }
  .carousel__button {
    bottom: 4%;
    right: 30px;
    left: 30px;
    height: 50px;
    opacity: 0.9;
    width: calc(100vw - 60px);
  }
  .carousel_buttonText {
    letter-spacing: 1.2px;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
  }
}


/* 
  @supports (-webkit-touch-callout: none) {
    .carousel {
        height: -webkit-fill-available;
        min-height: -webkit-fill-available;
    }
  }
*/