.cart {
  margin-top: 70px;
  width: 100%;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 485px);
  /* background-color: var(--bg-color-2);
  background-color: var(--bg-color-1);
  background-color: var(--bg-color-card); */
}

.cart__title {
  margin: 30px 0 20px;
  /* font-family: var(--titles-font);
  font-size: var(--h-font-size-mobile); */
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
  font-weight: normal;
}

.cart__title_extra {
  margin-top: 10px;
}

.cart__list {
  margin: 20px 0 0;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  /* border-radius: 10px; */
}

.cart__item {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* padding: 5px 0; */
  margin: 5px 0;
  align-items: center;
}

.cart__about {
  display: grid;
  grid-template-columns: 3fr 7fr 1.5fr;
  grid-template-columns: 75px auto 50px;
  width: 100%;
}

.cart__image {
  position: relative !important;
  /* width: 100% !important;
  height: auto !important; */
  width: auto !important;
  height: 100px !important;
  /* margin: auto; */
}

.cart__featureContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.cart__itemName {
  margin: 5px 0 0;
  /* font-family: var(--titles-font); */
  font-family: var(--subtitles-font);
  /* font-size: var(--subtitles-font-size-mobile); */
  font-size: var(--subtitles-font-size);
  font-weight: normal;
}

.cart__subTitle {
  margin: 5px 0 0;
  font-family: var(--span-font);
  font-family: var(--paragpaph-font);
  font-size: var(--paragpaph-font-size);
  color: var(--font-color-gray);
}

.cart__itemSize {
  display: flex;
  margin: 10px 0;
  align-items: first baseline;
}

.cart__itemSizeTitle {
  margin: 0 10px 0 0;
  font-family: var(--span-font);
  /* font-size: 12px; */
  font-size: var(--span-font-size);
}

.cart__itemSizePrice {
  margin: 0;
  /* font-size: 13px; */
  font-family: var(--paragpaph-font);
  font-size: var(--paragpaph-font-size);
}

.cart__del {
  width: 18px;
  height: 18px;
  align-self: center;
  background-image: url(../public/icon_del.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  margin: auto;
  border-radius: 0%;
}

.cart__counterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  width: 100%;
}

.cart__numbersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.cart__subTotal {
  margin: 0;
  /* font-size: 20px; */
  font-size: var(--titles-h-font-size);
  font-family: var(--paragpaph-font);
  width: 70px;
  text-align: center;
}

.cart__subTotalTitle {
  font-family: var(--span-font);
  letter-spacing: 0;
  font-size: var(--span-font-size);
  width: 70px;
  text-align: center;
  color: var(--font-color-gray);
  margin: 0 0 5px;
}

.cart__deliveryContainer {
  width: 100%;
}

.cart__deliveryType_type_invisible {
  position: absolute;
  left: 50px;
  width: 1px;
  height: 1px;
  /* // overflow: hidden;
  // clip-path: inset(0 0 0 0);
  // z-index: 1; */
  clip: rect(0 0 0 0);
}

.cart__deliveryType_type_visible {
  border: 1px solid var(--font-color);
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top: -3px;
  margin-right: 8px;
}

.cart__deliveryType_type_visible::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 1px;
  right: 1px;
}

.cart__deliveryType_type_invisible:checked + .cart__deliveryType_type_visible::before {
  background-color:var(--font-color)
}

.cart__label {
  /* display: flex; */
  /* align-items: flex-end; */
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 13fr;
  align-items: center;
}

.cart__deliveryName {
  margin: 0;
  font-family: var(--span-font);
  /* font-size: 13px; */
  font-size: var(--paragpaph-font-size);
  line-height: 1.2;
}

.cart__deliveryExtra {
  margin: 10px 0 20px;
}

.cart__deliveryName_extra {
  /* margin: 5px 0; */
  line-height: 1.4;
  border-bottom: 1px solid var(--font-color);
  padding-bottom: 1px;
  font-family: var(--span-font);
  font-size: 13px;
  font-size: var(--span-font-size);
}

.cart__deliveryComment {
  color: var(--font-color-gray);
}

.cart__customerDataForm {
  margin: 20px 0 0;
  background-color: var(--btn-color);
  width: 100vw ;
  color: white;
  align-self: center;
  padding: 0 6vw;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.cart__customerData {
  margin-top: 20px;
  width: 100%;
  font-family: var(--paragpaph-font);
  /* font-size: var(--paragpaph-font-size-mobile); */
  font-size: var(--paragpaph-font-size);
  background-color: var(--btn-color);
  border: none;
  outline: none;
  color: white;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  resize: vertical;
  height: auto;
  display: flex;
  text-wrap: wrap;
  overflow-y: visible;
  overflow-wrap: break-word;
}

.cart__customerData::placeholder {
  color: var(--font-color-gray);
  font-family: var(--span-font);
  /* font-family: var(--paragpaph-font); */
  font-size: var(--span-font-size-mobile);
  /* font-size: var(--paragpaph-font-size-mobile); */
  /* color: green !important;  */
}

.cart__customerData::placeholder::after {
  content: "* ";
}

.cart__totalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  /* background-color: var(--btn-color); */
  /* width: 100vw ; */
  /* color: white; */
  /* align-self: center; */
  /* padding: 0 6vw; */
  /* box-sizing: border-box; */
  /* padding-bottom: 40px; */
}

.cart__goodsSummContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart__goodsSummContainer:nth-of-type(1) {
  margin-top: 0;
}


.cart__goodsSummTitle {
  font-family: var(--span-font);
  font-size: 13px;
  font-size: var(--paragpaph-font-size);
  margin: 0;
}

.cart__goodsSummTitle_total {
  /* font-family: var(--paragpaph-font); */
  font-family: var(--subtitles-font);
  /* font-size: 15px; */
  font-size: var(--subtitles-font-size);
}

.cart__goodsSummMoney {
  font-family: var(--paragpaph-font);
  /* font-size: 14px; */
  font-size: var(--paragpaph-font-size);
  margin: 0;
}

.cart__goodsSummMoney_total {
  font-size: var(--subtitles-font-size);
}

.cart__button {
  width: 100vw;
  align-self: center;
  box-sizing: border-box;
  height: 50px;
  /* background-color: #9d9d9d; */
  /* background-color: rgb(84 84 84); */
  background-color: var(--btn-color);
  border: none;
  font-family: var(--btn-font);
  /* letter-spacing: var(--letter-spacing-global); */
  color: white;
  margin-bottom: 10px;
  font-size: 17px;
  font-size: var(--btn-font-size);
}

.cart__errorsContainer {
  width: 100%;
  height: 90px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.cart__error {
  font-family: var(--span-font);
  /* font-size: 13px; */
  font-size: var(--span-font-size);
  margin: 5px 0 0;
  color: red;
}

.cart__contidions {
  font-family: var(--span-font);
  /* font-size: 13px; */
  font-size: var(--span-font-size);
  margin: 0 0 40px;
  line-height: 1.3;
}

.cart__link {
  color: var(--font-color);
}

.cart__container {
  display: flex;
  flex-direction: column;
}

.cart__customerContainer {
  display: flex;
  flex-direction: column;
}

@media (width > 1023px) {
  .cart__customerContainer {
    background-color: white;
    padding: 0 30px 20px;
    /* width: 45%; */
    width: 450px;
    height: fit-content;
    border-radius: 20px;
  }

  .cart__container {
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: space-between;
  }
  .cart__listContainer {
    width: auto;
  }
  .cart__list {
    margin-top: 0;
    padding: 30px 30px 20px;
    border-radius: 20px;
    width: 400px;
  }
  .cart__button {
    width: calc(100% + 60px);
  }
  .cart__customerDataForm {
    width: calc(100% + 60px);
    padding: 0 30px 40px;
  }
  .cart {
    background-color: var(--bg-color-2);
    background-color: var(--bg-color-1);
    /* background-color: var(--bg-color-card); */
    padding: 0 15vw 30px;
    /* margin-bottom: 10px; */
    min-height: calc(100vh - 282px);
  }
  .cart__del {
    cursor: pointer;
  }
  .cart_hidden {
    display: none;
  }

}
