.catalog__list {
  list-style: none;
  /* margin: 10px 0 25px; */
  margin: 0 0 25px;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* padding: 0 3.5vw; */
  padding: 0 5.5vw;
  box-sizing: border-box;
}

.catalog__nav {
  /* padding: 0 5.5vw; */
  display: none;
  justify-content: space-between;
  /* height: 150px; */
  /* background-color: bisque; */
  padding: 15px 8.5vw;
  /* box-sizing: border-box; */
}

.catalog__nav_fixed {
  position: fixed;
  /* left: 8.5vw; */
  top: 70px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.catalog__placeholder {
  width: 100%;
  height: 53px;
  display: none;
}

.catalog__navLink {
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
  font-family: var(--subtitles-font);
  font-size: var(--subtitles-font-size);
  border-radius: 25px;
  /* border: 1px solid black; */
  padding: 5px 15px;
}

.catalog__item:first-child {
  margin-top: 20px;
}

.catalog__navLink_active {
  color: white;
  background-color: var(--btn-color);
}

@media (width > 1023px) {
  .catalog__nav {
    display: flex;
  }
  .catalog__placeholder {
    display: block;
  }
  .catalog__item:first-child {
    margin-top: 0;
  }
  .catalog__navLink {
    cursor: pointer;
  }
}


