.category__container {
  color: var(--font-color);
  /* letter-spacing: var(--letter-spacing-global); */
  /* width: 80%;
  margin: 0 auto; */
  /* margin-top: 20px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .category__container:not(:last-of-type) {
  margin-bottom: 44px;
}  */

/* .category__container-head {
  margin-bottom: 20px;
  line-height: 40px;
} */

.category__btn {
  width: 75%;
  margin: 8px auto 8px;
  color: var(--font-color);
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */
  padding: 0;
  /* letter-spacing: var(--letter-spacing-global); */
  /* margin-top: 15px; */
}

.category__name {
  text-align: start;
  margin: 0;
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
  font-weight: normal;
}

.category__arrow {
  transition: transform .2s ease-in-out;
  width: 25px;
  height: 30px; 
  filter: opacity(0.65);
}

.category__arrow_opened {
  transform: rotate(-180deg);
}

.category__wrap {
  overflow-y: hidden;
  /* transition: height 0.3s ease-in-out; */
}

.category__wrap_opened {
}

.category__productContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 15px;
}

.category__productContainer_opened {
  /* height: auto; */
}

@media (width > 699px) {
  .category__btn {
    width: 50%;
  }
  .category__productContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (width > 1023px) {
  .category__productContainer {
    grid-template-columns: repeat(3, 1fr); 
    padding: 1.5px 1.5px;
    gap: 50px;
    /* gap: 70px; */
  }
  .category__btn {
    width: 90%;
    /* margin: 8px auto 8px; */
    margin: 0 0 15px 0;
  }
  .category__arrow {
    display: none;
  }
}


