.coffeeshop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffeeshop__infoContainer {
    display: grid;
    padding: 0 3vw;
    box-sizing: border-box;
    width: 100%;
    column-gap: 25px;
    grid-template: 
      "menu info" 
      "menu map" / 3fr 4fr;
    grid-template-rows: 2fr 3fr;
    margin: 6px 0 16px;
    height: calc(44.3vw - 11px);
}

.coffeeshop__menu {
  grid-area: menu;
  width: 100%;
  height: 100%;
}

.coffeeshop__info {
  grid-area: info;
  width: 85%;
  margin: 16px auto 16px;
  height: 100%;
}

.coffeeshop__title {
  margin: 5px 0 0 0;
  font-size: 20px;
  font-family: 'Montserrat-Medium';
  letter-spacing: 1.2px;
}

.coffeeshop__title:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 18px;
}

.coffeeshop__content {
  /* margin-top: 10px; */
  margin: 0 0 6px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  font-family: 'Mont-Regular';
  font-size: 14px;
}

.coffeeshop__content:last-of-type {
  margin: 0;
}

.coffeeshop__content_hidden {
  display: none;
}

.coffeeshop__map {
  grid-area: map;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
}

.coffeeshop__iframe {
  width: 85%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  object-position: cover;
}

.coffeeshop__gallery {
  padding: 0 3vw;
}

.coffeeshop__picture {
  position: relative;
  width: 100%;
}

.coffeeshop__gallery {
  width: 100%;
  box-sizing: border-box;
}

.coffeeshop__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .coffeeshop__infoContainer {
    column-gap: 18px;
    grid-template-rows: 2fr 3fr;
  }
  .coffeeshop__title:nth-of-type(2) {
    font-size: 16px;
  }
  .coffeeshop__content {
    line-height: 1.2;
    font-size: 12px;
  }
  .coffeeshop__title {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 1024px) {
  .coffeeshop__infoContainer {
    column-gap: 12px;
    grid-template-rows: 2fr 3fr;
  }
  .coffeeshop__title {
    font-size: 16px;
  }
  .coffeeshop__title:nth-of-type(2) {
    font-size: 14px;
  }
  
  .coffeeshop__content {
    font-size: 11px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 899px) {
  .coffeeshop__info {
    margin-top: 14px;
    margin-bottom: 6px;
  }
  .coffeeshop__info {
    width: 90%;
  }
  .coffeeshop__iframe {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .coffeeshop__infoContainer {
    padding: 0 3vw;
    margin-top: 0;
    row-gap: 15px;
    grid-template: 
      "info"
      "map"
      "menu" 
      "menu";
    height: auto;
  }

  .coffeeshop__title {
    font-size: 20px;
  }

  .coffeeshop__title:nth-of-type(2) {
    font-size: 18px;
  }

  .coffeeshop__content {
    font-size: 14px;
    line-height: 1.4;
  }

  .coffeeshop__info {
    margin-top: 14px;
    margin-bottom: 6px;
  }
  .coffeeshop__info {
    width: 95%;
  }
  .coffeeshop__iframe {
    width: 95%;
    height: 230px;
  }

  .coffeeshop__picture:last-of-type::before {
    content: '+10';
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f706f;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  }

@media screen and (max-width: 359px) {
  .coffeeshop__title {
    font-size: 15px;
  }
  .coffeeshop__title:nth-of-type(2) {
    font-size: 12px;
  }
  .coffeeshop__content {
    font-size: 13px;
  }
}
