.contacts {
  padding: 20px 3vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.contacts__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5vw;
  height: 70vh;
  min-height: 550px;
  max-height: 700px;
}

.contacts__data {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 60vw;
  padding: 0;
  margin: 25px auto 0;
}

.contacts__contactbox {
  display: flex;
  list-style: none;
  align-items: flex-end;
  letter-spacing: 0.8px;
  position: relative;
}

.contacts__icon {
  width: 20px !important;
  height: 20px !important;
  position: relative !important;
  margin-right: 8px;
}

.contacts__content {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  list-style: none;
  font-family: 'Mont-Regular';
}

.contacts__message {
  font-size: 13px;
  line-height: 1.2;
  margin: auto auto 0;
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .contacts__container {
    height: 65vh;
  } 
}

@media screen and (max-width: 899px) {
  .contacts {
    height: auto;
    padding: 0 3vw 20px;
  }
  .contacts__container {
    height: auto;
    max-height: none;
    display: flex;
    flex-direction: column;
    width: 80vw;
  } 
  .contacts__data {
    width: 80vw;
    
  }
  .contacts__message {
    margin-top: 30px;
  } 
}

@media screen and (max-width: 767px) {
  .contacts__container {
    width: 94vw;
  }
  .contacts__data {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .contacts__contactbox {
    margin-top: 10px;
  }
}

@media screen and (max-width: 399px) {

}