.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0 3vw;
  box-sizing: border-box;
}

.header__type_main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}

.header__type_main::before {
  content: '';
  background-color: #b0aea148;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header__logoContainer {
  position: relative;
}

.header__logo {
  height: 50px;
  width: auto;
  margin: 20px auto 12px;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.header__logo:hover{
  opacity: 0.5;
}

.header__logo_mobile {
  margin: 0;
  display: none;
  height: 44px;
}

.header__logo_type_main {
  filter: invert(100%);
}

@media screen and (max-width: 1023px) {
  .header {
    height: 75px;    
  }
  .header__logo {
    height: 45px;
  }
}

@media screen and (max-width: 899px) {
  .header {
    height: 70px;    
  }
  .header__logo {
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 3.5vw;
  }
  .header__logo {
    height: 40px;
    display: none;
  }
  .header__logo_mobile {
    display: block;
  }
}



/* 
@media screen and (max-width: 1279px) {
  .header {
    max-width: 704px;
  }
}
  
@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
  }
}

*/