.popup {
  display: flex;
  opacity: 0;
  transition: visibility 1s, opacity 1s ease;
  visibility: hidden;
  color: #000000;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.9 );

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__photoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: contents;
  transition: opacity 1s ease;
}

.popup__photoContainer:hover {
  opacity: 0.6;
}

.popup__photo {
  position: initial !important;
  width: auto !important;
  height: auto !important;
  max-width: 90vw !important;
  max-height: 90vh !important;
  object-fit: contain;
  margin: auto auto;
  transition: opacity 1s ease;
}

.popup__closeButton {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-image: url(../public/closeIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
  background-color: transparent;
  z-index: 2;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__wrapButton {
  z-index: 2;
  position: absolute;
  top: calc((50% - 35px));
  height: 70px;
  width: 70px;
  border: none;
  background: transparent;
  opacity: 1;
  transition: opacity ease 1s;
  cursor: pointer;
  background-position: center;
}

.popup__wrapButton:hover {
  opacity: 0.6;
}

.popup__wrapButton_type_next {
  right: 0;
  background-image: url(../public/arrow_right_white.svg);
}

.popup__wrapButton_type_prev {
  left: 0;
  background-image: url(../public/arrow_left_white.svg);
}

.popup__wrapButton_hidden {
  visibility: hidden;
}

@media (width <= 1024px) {
  .popup__close-button {
    width: 28px;
    height: 28px;    
  }
  .popup__wrapButton_type_next {
    right: -8px;
  }
  .popup__wrapButton_type_prev {
    left: -8px;
  }
  .popup__wrapButton {
    padding: 0;
    top: calc((50% - 30px));
    height: 60px;
    width: 60px;
  }
}

@media (width <= 767px) {
  .popup__close-button {
    width: 24px;
    height: 24px;    
  }
  .popup__wrapButton {
    padding: 0;
    top: calc((50% - 25px));
    height: 50px;
    width: 50px;
  }
  .popup__wrapButton_type_next {
    right: -8px;
  }
  .popup__wrapButton_type_prev {
    left: -8px;
  }
  .popup__photo {
    max-width: 80vw !important;
  }
}