.main {
  margin-top: 70px;
  width: 100%;
}

.main__container {
  position: relative;
  height: 200px;
  width: 100%;
}

.main__banner {
  object-fit: cover;
  /* position: relative !important; */
}

/* .main__banner::after {
  content: "";
  background: rgba(0,0,0,.4);
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

.main__overlay {
  position: relative;
  background: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
}

.main__textContainer {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__text {
  margin: 0;
}