.main {
  /* margin-top: 70px; */
  width: 100%;
}

.main__container {
  position: relative;
  height: 300px;
  width: 100%;
}

.main__banner {
  object-fit: cover;
}

.main__overlay {
  position: relative;
  background: rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
}

.main__textContainer {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main__text {
  margin: 0;
  width: 70%;
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
  text-align: center;
}

.main__text:first-child {
  margin-bottom: 10px;
  font-size: var(--titles-h-large-font-size);
}

@media (width > 1023px) {
  .main__container {
    height: 550px;
  }
}

