.main {
  /* margin-top: 70px; */
  width: 100%;
}

.main__container {
  position: relative;
  height: 250px;
  height: 300px;
  width: 100%;
}

.main__banner {
  object-fit: cover;
}

.main__overlay {
  position: relative;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
}

.main__textContainer {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  box-sizing: border-box;
}

.main__text {
  margin: 0;
  width: 70%; 
  width: 80%; 
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
  /* font-size: 32px; */
  text-align: center;
}

.main__text:first-child {
  margin-bottom: 10px;
  font-size: var(--titles-h-large-font-size);
  /* font-size: 48px; */
}

.main__text_last {
  margin-top: 10px;
}

.main__link {
  position: absolute;
  right: 30px;
  bottom: 30px;
  /* margin: auto 30px 30px 0; */
  align-self: flex-end;
  font-family: var(--span-font);
  font-size: var(--span-font-size);
  font-family: var(--paragpaph-font);
  font-size: var(--paragpaph-font-size);
  color: white;
  text-decoration: none;
  border-bottom: 0.8px solid white;
  display: none;
}


@media (width > 400px) {
  .main__container {
    height: 290px;
  }
}

@media (width > 499px) {
  .main__container {
    height: 320px;
  }
}

@media (width > 599px) {
  .main__container {
    height: 400px;
  }
}

@media (width > 699px) {
  .main__container {
    height: 300px;
  }
  .main__text {
  font-size: 32px;
  }
  .main__text:first-child {
    font-size: 48px;
  }
  .main__link {
    display: flex;
  }
}

@media (height < 650px) {
  .main__container {
    height: 220px;
  }
}

