.menu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  /* right: -100%; */
  left: -100%;
  top: 0;
  z-index: 1;
  transition: left 1s;
  justify-content: flex-start;
  color: white;
}

.menu_active {
  /* right: 0%; */
  left: 0%;
  transition: left 1s;
}

.menu__container{
  height: 100%;
  width: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu__container::before {
  content: "";
  /* background: rgba(0,0,0,.4); */
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu__closeButton {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  background-image: url(../public/closeIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
  background-color: transparent;
  filter: invert(100%);
}

/* .menu__closeButton:hover {
  opacity: 0.5;
}
*/

.menu__navigation {
  margin: 0;
  font-family: 'Montserrat-Regular';
  /* font-family: 'Montserrat-Light'; */
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  /* color: #000000; */
  color: black;
}

/* .navigation__link_active {
  border-bottom: 1.4px  #000000 solid;
} */

.menu__navigation_active {
  border-bottom: 1.4px black solid;
}

.menu__navContainer {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

@media (width > 767px) {
  .menu__navigation {
    margin-top: 12px;
    font-size: 24px;
  }
  .menu__navigation_active {
    border-bottom: 1.6px black solid;
  }
  .menu__container{
    width: 30%;
    background-image: none;
    background-color: white;
    /* border-right: 0.5px black solid; */
  }
  .menu__navigation {
    color: black;
  }
  .menu__container::before {
    background: none;
  }
  .menu__closeButton {
    filter: invert(100%);
  }
  /* .menu__navigation_active {
    border-bottom: 1.4px black solid;
  } */
}

