.notfound {
  margin-top: 70px;
  width: 100%;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 485px);
}

.notfound_title {
  margin: 30px 0 20px;
  font-family: var(--titles-h-font);
  font-size: var(--titles-h-font-size);
}

@media (width > 1023px) {
  .notfound {
    background-color: var(--bg-color-2);
    background-color: var(--bg-color-1);
    /* background-color: var(--bg-color-card); */
    padding: 0 15vw 30px;
    /* margin-bottom: 10px; */
    min-height: calc(100vh - 282px);
  }
}
