.popup {
  display: flex;
  opacity: 0;
  transition: visibility 1s, opacity 1s ease;
  visibility: hidden;
  color: #000000;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 36, 55, 0.50);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.popup__container {
  position: relative;
  width: 300px;
  height: 240px;
  border-radius: 5px; 
  transition: opacity 0.3s ease;
  display: flex;
  background-color: var(--bg-color-2);
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}

.popup__container_failed {
  height: 180px;
}


.popup__text {
  font-family: var(--span-font);
  margin: 0 0 10px;
  font-size: var(--paragpaph-font-size-mobile);
  text-align: center;
  line-height: 1.4;
}

.popup__text:last-of-type {
  margin: 0;
}

.popup__text_bold {
  font-family: var(--paragpaph-font);
}

.popup__info {
  width: 90%;
  box-sizing: border-box;
}

.popup__btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 15px !important;
  height: 15px !important;
  background-image: url(/_next/static/media/closeIcon.99923edc.svg);
  /* background-size: cover; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  filter: invert(100%);
}


@media (width > 1023px) {
  .popup__container {
    width: 350px;
    height: 230px;
  }
  .popup__btn {
    top: 15px;
    right: 15px;
    width: 16px !important;
    height: 16px !important;
  }
  .popup__btn:hover {
    cursor: pointer;
  }  
}
