.productFull {
  margin-top: 70px;
  width: 100%;
  /* padding: 0 6vw; */
  /* background-color: bisque; */
  box-sizing: border-box;
  display: grid;
  align-items: center;
  color: var(--font-color);
  /* background-color: rgb(249 246 240); */
  background-color: var(--bg-color-card);
}

.productFull__imageContainer {
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: calc(100% - 12vw); */
}

.productFull__infoContainer {
  padding: 0 6vw;
  /* width: calc(100% - 12vw); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productFull__image {
  width: 55% !important;
  position: relative !important;
  height: auto !important;
  margin-top: 25px;
  max-width: 120px;
}

.productFull__titleContainer {
  margin: 10px 0 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.3;
}

.productFull__title {
  margin: 0;
  font-size: var(--titles-h-font-size);
  font-family: var(--subtitles-font);
  /* font-family: var(--titles-h-font); */
  /* font-size: var(--subtitles-font-size); */
  font-weight: normal;
  max-width: 80%;
  text-align: center;
}

.productFull__subtitle {
  color: var(--font-color-gray);
  margin: 0 0 5px;
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
}

.productFull__aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  margin: 20px 0 10px;
}

.productFull__featureContainer {
  /* display: flex; */
  /* margin-bottom: 10px; */
  margin: 0 0 10px;
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
}

.productFull__aboutTitle {
  color: var(--font-color-gray);
  margin: 0 5px 0 0;
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
}

.productFull__about {
  margin: 0;
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
}

.productFull__descriptionContainer {
  width: 100%;
  margin-top: 20px;
}

.productFull__descriptionTitle {
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
  color: var(--font-color-gray);
  margin: 0 0 10px;
  /* margin: 0; */
  align-self: flex-start;
}

.productFull__description {
  margin: 10px 0 0 0;
  font-family: var(--span-font);
  font-size: var(--span-font-size-mobile);
  line-height: 1.5;
  white-space: pre-line;
}

.productFull__cartContainer {
  width: 100%;
  display: flex;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
}

.productFull__cartContainer_bigScreen {
  width: 100%;
}

.productFull__balanceContainer {
  width: 100%;
}

@media (width > 1023px) {
  .productFull {
    grid-template-columns: 1.2fr 1fr;
    padding: 50px 100px 50px 50px;
    column-gap: 40px;
    /* max-height: calc(100vh - 70px); */
  }
  .productFull__imageContainer {
    padding: 0 100px;
    /* border-right: 1px solid rgb(104 100 100 / 0.4); */
    grid-column: 1;
    grid-row: 1;
  }
  .productFull__infoContainer {
    /* padding: 0 130px; */
    padding: 0 17%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    border-left: 1px solid rgb(104 100 100 / 0.4);
    /* border-left: 1px solid gray; */
  }
  .productFull__image {
    max-width: 250px;
    object-fit: contain;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
  }
  .productFull__cartContainer {
    padding-bottom: 10px;
  }
  .productFull__cartContainer_bigScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .productFull__aboutContainer_bigScreen {
    grid-column: 1 / span 2; /* Занимает обе колонки */
    grid-row: 2;
    /* height: 50px; */
    /* background-color: aqua; */
    margin-top: 40px;
    padding: 0 100px 0 100px;
  }
  .productFull__description_bigScreen {
    font-family: var(--paragpaph-font);
    font-size: var(--paragpaph-font-size);
    text-align: justify;
  }
  
}

