.sectionLine {
  border-top: 1px solid rgb(104 100 100 / 0.4);
  height: 1px;
  width: 94vw;
}

.sectionLine_type_main {
  width: calc(100vw - 30px);
}

.sectionLine_type_catalog {
  display: none;
  width: 100%;
  margin: 0 0 30px;
}

.sectionLine_type_bigScreen {
  width: 100%;
}


@media (width > 1023) {
  /* .sectionLine_type_catalog {
    display: flex;
  } */
  .sectionLine {
    border-top: 1px solid red;
  }
}

@media (width > 1023px) {
  .sectionLine_type_catalog {
    display: flex;
  }
  /* .sectionLine_type_bigScreen {
    width: 100%;
  } */
  
  /* .sectionLine {
    border-top: 1px solid red;
  } */
}
