.storeData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  height: 100%;
}

.storeData__info {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
}

.storeData__title {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat-Medium';
  letter-spacing: 1.2px;
}

.storeData__title:nth-of-type(2) {
  margin-bottom: 20px;
  font-size: 18px;
}

.storeData__container {
  display: grid;
  grid-template-rows: 4fr 3fr;
  row-gap: 20px;
  height: 100%;
  position: relative;
  width: 100%;
}

.storeData__map {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.storeData__iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  object-position: cover;
}

.storeData__imageContainer {
  height: 100%;
  position: relative;
}

.storeData__image {
  object-fit: cover;
}

@media (width <= 1280px) {
  .storeData {
    width: 40vw;
  }
  .storeData__title {
    font-size: 18px;
  }
  .storeData__title:nth-of-type(2) {
    font-size: 16px;
  }
}

@media (width <= 1023px) {
  .storeData {
    width: 45vw;
  }
  .storeData__title {
    font-size: 16px;
  }
  .storeData__title:nth-of-type(2) {
    font-size: 14px;
  }
}


@media (width <= 899px) {
  .storeData {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .storeData__image {
    height: 350px;
  }
  .storeData__map {
    height: 260px;
  }
  .storeData__info {
    width: 100%;
  }
  .storeData__container {
    row-gap: 25px;
    grid-template-rows: 4fr 2fr;
  }
}

@media (width <= 767px) {
  .storeData__container {
    row-gap: 20px;
  }
  .storeData__image {
    height: 250px !important;
  }
  .storeData__map {
    height: 180px;
  }
  .storeData {
    margin-top: 20px;
  }
  .storeData__title:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .storeData__title {
    font-size: 18px;
  }
  .storeData__title:nth-of-type(2) {
    font-size: 16px;
  }
  .storeData__container {
    row-gap: 25px;
    grid-template-rows: 4fr 3fr;
  }
}

@media (width <= 399px) {
  .storeData__container {
    /* ;grid-template-rows: auto; */
  }
  .storeData__image {
    height: 230px !important;
  }
  .storeData__map {
    height: 170px;
  }
  .storeData__container {
    row-gap: 15px;
  }
  .storeData__title {
    font-size: 18px;
  }
  .storeData__title:nth-of-type(2) {
    font-size: 16px;
  }
}

@media (width <= 359px) {
  .storeData__container {
    grid-template-rows: auto;
  }
  .storeData__image {
    height: 190px;
  }
  .storeData__map {
    height: 160px;
  }
}
