.stores {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
}

.stores__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.33;
  font-family: 'Montserrat-Medium';
  letter-spacing: 1.2px;
}

.stores__container {
  padding: 30px 3vw 30px 3vw;
  height: 100%;
  position: relative;
}

.stores__grid {
  position: relative;
  margin-top: 20px;
  display: grid;
  width: 100%;
  gap: 10px 25px;
  grid-template: 
    "store_1_1 store_1_2 store_2_1 store_2_2 store_2_3" 
    "legend_1 legend_1 legend_2 legend_2 legend_2" / 1fr 1fr 1fr 1fr 1fr
}

.box1{
  position: relative;
  grid-area: store_1_1;
  width: 100%;
}

.box1 > div {
  position: unset !important;
}

.box2{
  position: relative;
  grid-area: store_1_2;
  width: 100%;
}

.box2 > div {
  position: unset !important;
}

.box3{
  position: relative;
  grid-area: store_2_1;
  width: 100%;
}

.box3 > div {
  position: unset !important;
}

.box4{
  position: relative;
  grid-area: store_2_2;
  width: 100%;
}

.box4 > div {
  position: unset !important;
}

.box5{
  position: relative;
  grid-area: store_2_3;
  width: 100%;
}

.box5 > div {
  position: relative;
  position: unset !important;
}

.box6{
  position: relative;
  grid-area: legend_1;
  width: 100%;
}

.box6 > div {
  position: unset !important;
}

.box7{
  position: relative;
  grid-area: legend_2;
  width: 100%;
}

.box7 > div {
  position: unset !important;
}

.stores__photo {
  object-fit: cover;
  border-radius: 3px;
  transition: opacity linear 1s;

  width: 100% !important;
  position: relative !important;
  
  height: 100%;
}

.stores__photo:hover {
  opacity: 0.7;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
}

.store__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  margin: 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-family: 'Mont-Regular';
}

@media screen and (max-width: 1279px) {
  .stores__title {
    font-size: 18px;
  }
  .store__legend {
    font-size: 13px;
  }
  .stores__grid {
    gap: 10px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .stores__title {
    font-size: 16px;
  }
  .store__legend {
    font-size: 12px;
  }
  .stores__grid {
    gap: 8px 16px;
  }
}

@media screen and (max-width: 899px) {
  .stores__title {
    font-size: 15px;
  }
  .store__legend {
    font-size: 11px;
  }
  .stores__container {
    padding: 20px 3vw 20px 3vw;
  }
  .stores__grid {
    margin-top: 14px;
    gap: 8px 14px;
  }  
}

@media screen and (max-width: 767px) {
  .stores__grid {
    display: grid;
    width: 100%;
    grid-template: 
      "legend_1 legend_1"
      "store_1_1 store_1_2"
      "legend_2 legend_2"
      "store_2_3 store_2_2"
  }
  .box3{
    display: none;
  }
  .store__legend {
    font-size: 14px;
  }
  .box7 {
    margin-top: 10px;
  }
  .stores__container {
    padding: 30px 4vw 30px 4vw;
    height: 100%;
  }
  
  
}

/*
grid-template: 
      "store_1_1 store_1_2 store_2_1 store_2_2 store_2_3" 
      "legend_1 legend_1 legend_2 legend_2 legend_2" / 1fr 1fr 1fr 1fr 1fr
*/