.team {
  padding: 25px 3vw 25px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__container {
  display: grid;
  width: 100%;
  gap: 30px 30px;
  grid-template-columns: repeat(4, 1fr); 
}

.team_invisible {
  display: none;
}

.team__title {
  margin: 0 auto 10px;
  font-size: 22px;
  line-height: 1.33;
  font-family: 'Montserrat-Medium';
  letter-spacing: 1.2px;
  font-weight: normal;
}

.team__subTitle {
  font-family: 'Mont-Regular';
  font-size: 16px;
  line-height: 1.33;
  margin: 5px auto;
  letter-spacing: 0.8px;
}

.team__subTitle:last-of-type {
  margin-bottom: 25px;
}

@media (width <= 1279px) {
  .team__container {
    gap: 25px 25px;
    grid-template-columns: repeat(3, 1fr); 
  }
  .team__title {
    font-size: 18px;
  }
  .team__subTitle {
    font-size: 14px;
  }
  .team__subTitle:last-of-type {
    margin-bottom: 20px;
  }
}

@media (width <= 1024px) {
  .team__title {
    font-size: 16px;
  }
  .team__subTitle {
    font-size: 13px;
  }
}

@media (width <= 899px) {
  .team__subTitle {
    font-size: 12px;
  }
}

@media (width <= 599px) {
  .team__container {
    gap: 15px 15px;
    grid-template-columns: repeat(2, 1fr); 
  }
  .team__title {
    font-size: 18px;
  }
  .team__subTitle {
    font-size: 14px;
  }
}

@media (width <= 359px) {
  .team__container {
    gap: 10px 10px;
  }
}
